[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-octicons = {editable = true, path = "/home/srijan/opensource/django-octicons"}

[dev-packages]

[requires]
python_version = "3.6"
